@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    flex-direction: row;
  }

  body {
    @apply font-sans;
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .is-visible {
    opacity: 1;
  }

  .button {
    color: #fff;
    border-radius: 20px;
    border-width: 2px;
    padding: 6px 12px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .button:hover {
    background-color: #ffde3b;
    color: #0a192f;
    border-color: #068bc7;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
